.container {
  background-color: #4A4A4A;
  width: 100%;
  height: calc(100vh - 537px);
  min-height: 718px;
}

:global {
  .record-tabs {
    color: #fff;
    height: 100%;

    .record-nav {
      .record-nav-wrap {
        .record-nav-list {
          display: flex;
          flex-flow: row nowrap;
          background-color: #27292c;

          .record-tab {
            background-color: #424242;
            &-btn {
              line-height: 35px;
              min-width: 80px;
              text-align: center;
              cursor: pointer;
              transition: all 300ms ease-in-out;

              &:focus {
                outline: none;
                background-color: #4A4A4A;
              }
            }
            &-active {
              background-color: #4A4A4A;
              transform: translateY(-5px);
              box-shadow: 0 5px #4A4A4A;
            }
          }
        }
      }
    }

    .record-content-holder {
      padding: 10px;
      .record-content {
        .record-tabpane {}
        .record-tabpane-active {
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
